@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {

  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin-left: 10px;
  margin-right: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: Verdana, sans-serif;
}

h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

#header {
  background-color: royalblue;
  border: 5px outset lightblue;
}

#header h1,
#header h2,
#header h3,
#header h4 {
  color: white;
  text-shadow: 1px 3px #333;
}

#header h2 {
  font-family: Garamond, serif;
  font-size: 1.2em;
  font-style: italic;
}

#header h1 {
  margin-bottom: 0px;
}

#header h2 {
  margin-top: 0px;
}

#content h2 {
  border-bottom: 1px #999999 solid;
}

#content .rank {
  background-color: black;
  color: white;
}

#content a {
  color: blue;
}

#content p {
  color: #999999;
  background-color: white;
  text-align: justify;
  text-indent: 2em;
}

#content p::first-line {
  color: black;
}

#footer {
  background-color: black;
}

#footer h2,
#footer li,
#footer a {
  color: white;
}

#footer li:first-child,
#footer li:first-child + li {
  list-style-type: disc;
}

#footer ul {
  list-style-type: circle;
}

#footer li:first-child + li a {
  font-weight: bold;
}

#footer p {
  color: yellow;
  font-style: oblique;
  text-align: center;
  margin-bottom: 0;
}