@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap%22");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap%22");


h1, h2, h3, h4{
  font-family: "Montserrat", sans-serif;
}

*{
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
}

body{
  background-color: white;
  min-height: 100%;
}

header{
  height: 40px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #EDE0BE;
}

#logo{
  height: 60px;
  left: 5%;
  position: absolute;
  background-color: #77899F;
}

nav{
  right: 5%;
  position: absolute;
  list-style: none;

}

/* nav ul{
  list-style: none;
}

nav ul li{
  float: left;
  color: #77899F;
  padding: 20px;
} */

main{
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  width: 90%;
  max-width: 1400px;
  position: relative;
}

main>h1{
  background-color: #E2D9BC;
  font-size: 1.2em;
  padding: 5px;

}

.framed{
  border: 1px solid #E2D9BC;
  font-size: 0.9em;
  padding: 5px;
}

footer{
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  height: 120px;
  border-top: 5px solid #E2D9BC;
  background-color: #E2D9BC;
}


aside{
  width: 300px;
  position: absolute;
  right: 0;
  height: 100%;
  background-color: #C0D1DB;
  /* margin-top: 5px;
  margin-bottom: 5px; */
  overflow: auto;
}


.wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 320px;
  /* background-color: pink; */
}

.product{
  flex: 280px;
  padding: 10px;
  position: relative;
  margin: 10px;
}

.product a{
  flex: i
}

.product:hover{
  background-color: #EDE0BE;
}


img{
  width: 100%;
  
}

.discount{
  position: absolute;
  top: 30px;
  right: 30px;
  background: #EDE0BE;
  font-size: 2em;

}

.price{
  float: right;
}


.container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid #77899F;
  border-radius: 3px;
}


label {
  margin-bottom: 10px;
  width:7em;
  display: inline-block;
}

fieldset{
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
}

#this-product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bilde{
  flex: 300px;
  position: relative;
}

.purchase{
  flex: 300px;
  margin: 20px;
}

h1.withbg{
  background-color: #77899F;
  display: block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.description{
  width: 100%;
}

.purchase-wrapper{
  margin-top: 20px;
}